* {
    margin: 0 auto;
    box-sizing: border-box;

}

.cont {
    width: 1320px;
    margin: 0 auto;
    padding: 100px 0px 70px;
}

/* -------- varible css ----------- */
:root {
    --primarycolor: #0d00ff;
    --h-text: #5b5b98;
    --background-color: #f4f7fc;
    --white-color: #fff;
    --text: #000000;
    --pink-color: #fa7070;
    --gray-color: #f9f5f5;
    --yellow-color: #facd60;
    --sky-color: #1ac0c6;
    --sb2-color: #00aeff;
    --sb3-color: #f78acb;
    --sb4-color: #44ce6f;
    --sb5-color: #c679e3;
    --sb6-color: #eb6b3d;
    --lb2-color: #fc6765;
    --lb3-color: #ffA143;
    --footer-color: #212529;

}


/* -------- common css ----------- */
a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

h2 {
    text-align: center;
    font-size: 40px;
    color: var(--text);
    font-weight: 700;
    margin: 0 auto;
    padding-bottom: 50px;
    max-width: 550px;
    text-transform: capitalize;
}

h3 {
    font-size: 22px;
    font-weight: 700;
}

.hed {
    text-align: center;
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 600;
    color: var(--primarycolor);
    text-transform: uppercase;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

.btn {
    color: var(--white-color);
    font-size: 15px;
    background-color: var(--primarycolor);
    margin: 25px;
    padding: 17px 35px 13px;
    border-radius: 5px;
    border-style: none;
}

.btn:hover {
    color: var(--white-color);
    background-color: var(--pink-color);
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

/* ------------col------------ */
.col1 {
    width: 8.33%;
}

.col2 {
    width: 16.66%;
}

.col3 {
    width: 25%;
}

.col4 {
    width: 33.33%;
}

.col5 {
    width: 41.66%;
}

.col6 {
    width: 50%;
}

.col7 {
    width: 58.33%;
}

.col8 {
    width: 66.66%;
}

.col9 {
    width: 75%;
}

.col10 {
    width: 83.33%;
}

.col11 {
    width: 91.66%;
}

.col12 {
    width: 100%;
}

/* -----------header css----------- */
header {
    background-color: var(--white-color);
    width: 100%;
    position: fixed;
    z-index: 3534534;
}

nav {
    align-items: center;

}

.head {

    display: flex;
    flex-wrap: wrap;
    align-items: center;


}

header .head {
    justify-content: space-between;
    padding: 10px;

}

header .head nav ul {
    display: flex;
}

nav ul li {
    padding: 0px 20px;
}

header .head nav ul li i {
    font-size: 10px;
    top: 1px;
    margin-left: 4px;
}

header .head nav ul li a {
    color: var(--h-text);
    font-size: 16px;
    transition: all 0.5s;
}

header .head nav ul li a:hover,
.magnify:hover {
    color: var(--primary-color);
}

.magnify {
    font-size: 16px;
    color: var(--h-text);
    margin-left: 10px;
}

.submenu {
    position: absolute;
    background-color: var(--white-color);
    top: 250%;
    flex-direction: column;
    padding: 10px 20px 20px 0px;
    width: max-content;
    border-top: 2px solid blue;
    box-shadow: 0px 0 15px 0 rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.submenu li {
    padding: 10px;
}

.menu:hover .submenu {
    opacity: 1;
    top: 100%;
    visibility: visible;

}



/* banner css */


.banner-txt {
    text-align: center;
    /* margin-top: 140px; */
    padding-top: 140px;
}

h1 {
    color: var(--text);
    font-size: 60px;
}

/* ------services css------ */
.service {
    background-color: var(--gray-color);
    text-align: center;
    margin-right: 10px;
    transition: all 0.5s;
    border-radius: 5px;


}

.service:hover {
    transform: translateY(-10px);
    background-color: var(--white-color);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
}

.service:hover .serbtn {
    background-color: var(--primarycolor);
    color: var(--white-color);
}

.fa-chart-bar,
.fa-display,
.fa-envelope-open-text {
    font-size: 45px;
    color: var(--pink-color);
    margin-top: 10px;
    margin-bottom: 10px;
}

.ser {
    font-size: 16px;
    font-weight: 400;
    color: var(--h-text);
    line-height: 28.8px;
    margin: 15px 0px 20px;
    padding: 40px;
    text-transform: lowercase;
    text-align: center;

}

.serbtn {
    color: var(--primarycolor);
    font-size: 15px;
    text-transform: uppercase;
    background-color: var(--white-color);
    margin: 25px;
    padding: 17px 35px 13px;
    border-radius: 5px;
    border: 2px solid var(--primarycolor);

}

.serbtn:hover {
    color: var(--white-color);
    background-color: var(--primarycolor);
}

/* about us css */
.about-txt {
    margin-left: 0px;
}

.about-txt .hed {
    text-align: start;
    margin-left: 20px;
}

.about-txt .h2 {
    text-align: start;
    max-width: none;
}

.abo {
    font-size: 16px;
    font-weight: 400;
    color: var(--h-text);
    line-height: 1.8;
    text-transform: lowercase;
}

.abouttxt ul li {
    position: relative;
    z-index: 1;
    padding: 13px 5px 13px 10px;
    margin: 0 10px 10px 0;
    border-radius: 4px;
    overflow: hidden;
    transition: all 0.5s;
}

.fa-square-check {
    color: var(--primarycolor);
}

.abouttxt ul li:hover {
    color: var(--white-color);

}

.abouttxt ul li::after {
    background-color: var(--primarycolor);
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    transition: all 0.5s;
    height: 100%;
    width: 0;
    z-index: -1;
}

.abouttxt ul li:hover::after {
    width: 100%;
}

.abouttxt ul li:hover .fa-square-check {
    color: var(--pink-color);
}

/* ------tool css----------- */
.tool {
    background-color: var(--background-color);
}

.tlist {
    background-color: var(--gray-color);
    padding: 40px 30px;
    transition: all 0.5s;
    z-index: 1;
    height: max-content;
    position: relative;
    margin: 0 15px 30px;
}

.tlist .ser {
    padding: 0px;
    text-align: start;
}

.tlist .fa-computer {
    background-color: rgba(250, 112, 112, 10%);
    color: var(--pink-color);
}

.fa-laptop-code {
    color: var(--sb2-color);
    background-color: rgba(68, 206, 111, 10%);
}

.fa-chart-line {
    color: var(--sb3-color);
    background-color: rgba(247, 138, 203, 10%);
}

.fa-chalkboard-user {
    color: var(--sb4-color);
    background-color: rgba(68, 206, 111, 10%);
}

.fa-envelopes-bulk {
    color: var(--sb5-color);
    background-color: rgba(198, 121, 227, 10%);
}

.fa-digital-ocean {
    color: var(--sb6-color);
    background-color: rgba(235, 107, 61, 10%);

}

.tlogo {
    margin: 0 0 25px;
    padding: 22px 0 0 0;
    font-size: 35px;
    width: 70px;
    height: 70px;
    display: inline-block;
    border-radius: 50%;
    transition: all 0.5s;
    text-align: center;
}

.tlist:hover i {
    color: blue;
    background-color: var(--white-color);
    transform: rotate(360deg)
}

.tlist a {
    text-transform: capitalize;
    transition: all 0.5s;
    font-size: 16px;
}

.tlist:hover p,
.tlist:hover h3,
.tlist:hover a {
    color: var(--white-color);
}

.tlist::after {
    background-color: blue;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    transition: all 0.5s;
    height: 100%;
    width: 0;
    z-index: -1;
}

.tlist:hover::after {
    width: 100%;
}

.tbtn {
    transform: translateY(20px);
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

.tlist:hover .tbtn {
    transform: translateY(0px);
    visibility: visible;
    opacity: 1;
}

.tbtn::after {
    position: relative;
    content: "";
    bottom: 0;
    transition: all 0.5s;
    left: 0;
    background: #f9f5f5;
    height: 2px;
    width: 0;
}

.tbtn:hover::after {
    width: 100%;
}

/* ------choose us css------- */

.cho {
    font-size: 16px;
    font-weight: 400;
    color: var(--h-text);
    line-height: 28.8px;
    margin: 0px 10px 30px;
    padding: 0px 40px 0px 0px;
    text-transform: lowercase;
    text-align: start;

}

.chous {
    text-align: start;
    margin: 0px;
    padding: 0px;
}

/* -------number css--------- */
.number {
    background-color: var(--primarycolor);

}

.plus {
    margin-bottom: 0px;
    font-size: 18px;
}

.num {
    border: 1px dashed rgba(255, 255, 255, 40%);
    width: 250px;
    height: 150px;
    font-weight: 900;
    text-align: center;
    padding-top: 25px;
    color: var(--white-color);
    transition: all 0.5s;
    position: relative;
    z-index: 1;
}

.num2 {
    color: var(--white-color);
    padding-bottom: 10px;
    text-align: center;
}

.num:hover {

    border-color: var(--white-color);
    transform: translateY(-10px);

}

.number .num::before {
    position: absolute;
    content: "p";
    font-size: 150px;
    opacity: 0.5;
    top: -50px;
    right: 100px;
    font-style: italic;
    color: rgba(31, 37, 158, 0.5);
}

.number .numc::before {
    content: "C";
    top: -20px;
}

.number .numa::before {
    content: "A";
    top: -20px;
}

.number .nume::before {
    content: "E";
    top: -20px;
}

/* ----------gallery css------------ */
.slide {
    margin: 0px 20px;
    position: relative;
    overflow: hidden;
}

.slide i {
    position: absolute;
    top: 25px;
    right: 25px;
    background-color: var(--primarycolor);
    border-radius: 50%;
    font-size: 40px;
    padding: 20px;
    color: var(--white-color);
    transform: scale(0);
    transition: all 0.5s;
}

.slide:hover i {
    transform: scale(1);
}

.slide i:hover {
    background-color: var(--pink-color);
    transform: rotate(180deg);
}

.slide .gtxt {
    position: absolute;
    left: 0px;
    bottom: 45px;
    padding: 25px 20px 20px;
    background-color: var(--white-color);
    width: 70%;
    transform: translateX(-300px);
    transition: all 0.5s;
}

.slide:hover .gtxt {
    transform: translatex(0px);

}

.gtxt h3:hover {
    color: var(--primarycolor);
}

.gtxt p {
    color: var(--h-text);
}

/* --------features css--------- */
.box {
    background-color: var(--white-color);
    box-shadow: rgba(0, 0, 255, 0.5) 0px 0px 10px 0px;
    padding: 15px 15px 15px 18px;
    margin: 5px;
    text-align: center;
    height: 150px;
    width: 200px;
    cursor: pointer;
    transition: all 0.5s;
}

.box:hover {
    background-color: var(--primarycolor);
    color: var(--white-color);
}

.box:hover i {
    color: var(--white-color);
}

.box i {
    font-size: 50px;
    padding: 15px;
}

.fa-people-pulling {
    color: var(--sb6-color);
}

.fa-diagram-project {
    color: var(--primarycolor);
}

.fa-computer {
    color: var(--sb5-color);
}

.fa-file-contract {
    color: var(--sb6-color);
}

.fa-cubes {
    color: var(--primarycolor);
}

.fa-laptop-medical {
    color: var(--sb5-color);
}

/* snd part features css */
.fet-txt .hed h2 {
    margin: 0px;
    padding: 0px;
}

.fet-txt .hed p {
    margin-left: 62px;
    text-align: start;
}

.fet-txt ul li {
    position: relative;
    z-index: 1;
    padding: 13px 5px 13px 10px;
    margin: 0 10px 10px 0;
    border-radius: 4px;
    overflow: hidden;
    transition: all 0.5s;
}

.fa-square-check {
    color: var(--primarycolor);
}

.fet-txt ul li:hover {
    color: var(--white-color);

}

.fet-txt ul li::after {
    background-color: var(--primarycolor);
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    transition: all 0.5s;
    height: 100%;
    width: 0;
    z-index: -1;
}

.fet-txt ul li:hover::after {
    width: 100%;
}

.fet-txt ul li:hover .fa-square-check {
    color: var(--white-color);
    background-color: var(--pink-color);
}

/* ----------team css----------- */
.tm .teamall {
    margin: 5px;
    box-shadow: 0px 0px 10px -2px var(--text);
}

img {
    transition: all 0.5s;
}

.teamall .tmimg {
    overflow: hidden;
}

.teamall:hover img {
    transform: scale(1.2);
}

.tmnm {
    text-align: center;
    padding: 10px;
    transition: all 0.5s;
    background-color: var(--white-color);
}

.teamall:hover .tmnm {
    background-color: var(--primarycolor);
    color: var(--white-color);
}

.tm {
    transition: all 0.5s;
    position: relative;
}

.tm:hover {
    transform: translateY(-10px);
}

.tm .sobtn {
    position: absolute;
    top: 10%;
    padding: 4px 7px;
    color: var(--primary-color);
    background-color: var(--white-color);
    left: 50%;
    transform: translate(-50%);
    border-radius: 50px;
    opacity: 0;
    visibility: hidden;
}

.sobtn i {
    background-color: var(--white-color);
    color: var(--primarycolor);
    margin: 5px;
    font-size: 20px;
}

.teamall:hover .sobtn {
    opacity: 1;
    visibility: visible;
    top: 40%;
}

.fa-facebook-f:hover,
.fa-twitter:hover,
.fa-instagram:hover {
    color: var(--pink-color);
}

/* ----------feedback video css-------------- */
.vid {
    height: 600px;
    position: relative;
    z-index: 1;
    background-color: var(--primarycolor);
    background-image: url("../photo/solution-bg.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding-bottom: 200px;
    padding-top: 100px;
}

.vid::after {
    content: "";
    position: absolute;
    background-color: black;
    opacity: 0.8;
    left: 0;
    top: 0;
    height: 100%;
    right: 0;
    z-index: -1;
}

.fhed {
    text-align: start;
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 600;
    color: var(--primarycolor);
    text-transform: uppercase;
}

.f {
    color: var(--pink-color);
}

.fhed h2 {
    text-align: start;
    margin-left: 0px;
    padding-bottom: 10px;
    color: var(--white-color);
}

.fhed a {
    margin: 0 auto;
}

.fdis {
    padding-bottom: 35px;
    color: var(--white-color);
}

.playicon a {
    display: inline-block;
    width: 90px;
    height: 90px;
    line-height: 90px;
    background-color: var(--white-color);
    border-radius: 50%;
    color: var(--primarycolor);
    position: relative;
    z-index: 1;
}

.picon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playicon a i::before {
    font-size: 45px;
    left: 30px;
    top: 24px;
    position: absolute;
}

/* -----------feedback video css2----------- */
.feedback {
    margin-top: -100px;
    padding-bottom: 70px;
    position: relative;
    z-index: 1;
    padding-top: 100px;
}

.feedback::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 60%;
    right: 0;
    z-index: -1;
    background-color: var(--primarycolor);
    margin-left: 50px;
    margin-right: 50px;
}

.ftitle {
    color: var(--white-color);
    text-align: center;
    margin: 0 auto;
}

.ftitle h2 {
    color: var(--white-color);
}

.feedback .fdis .row {
    margin: 0px 100px;
}

.fedis {
    padding: 30px;
    margin: 0px 10px;
    background-color: white;
    box-shadow: 0px 5px 15px #f1f1f1;
    color: var(--h-text);
    font-size: 18px;
    line-height: 30px;
    font-style: italic;
}

.cliant img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-left: 0%;
    position: absolute;
}

.cliant h3 {
    color: var(--text);
    margin-top: 40px;
    padding-left: 100px;
    font-style: normal;
}

.cliant p {
    color: var(--primarycolor);
    font-size: 15px;
    padding-left: 100px;
    font-style: normal;
}

/* -----plan css----------- */
.pl {
    padding-bottom: 0px;
}

.pdis {
    align-items: center;
    color: var(--h-text);
    padding: 0px 300px 0px 300px;
    padding-bottom: 50px;
}

.pbox {
    width: 80%;
    height: auto;
    margin: 40px 30px 30px 20px;
    border: transparent;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 255, 0.22);
    transition: all 0.5s;
}

.pbox h3 {
    padding: 30px;
    text-align: center;
    color: var(--white-color);
}

.ph1 {
    background-color: var(--primarycolor);
}

.ph2 {
    background-color: var(--lb2-color);
}

.ph3 {
    background-color: var(--lb3-color);
}

.pla {
    color: var(--h-text);
    margin: 15px 0px;
    text-align: center;
}

.amt {
    font-size: 50px;
    color: var(--text);
}

.pbtn {
    color: var(--primarycolor);
    margin: 30px;

    text-align: center;
    transition: all 0.5s;

}

.btn1 {
    color: var(--primarycolor);
}

.btn2 {
    color: var(--lb2-color);
}

.btn3 {
    color: var(--lb3-color);
}

.plist li {
    padding: 5px 20px 5px 0px;
    margin: 0px;
}

.plist i {
    padding-right: 30px;
    margin: 0px;
}

.li1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    color: var(--h-text);
    line-height: 1.8;
    text-transform: lowercase;
}

.plist .li1 .fa-check {
    color: var(--sb4-color);
}

.plist .li1 .fa-xmark {
    color: var(--lb2-color);
}

.pbox:hover {
    transform: translatey(-20px);
}

.pbtn a {
    position: relative;
}

.pbtn a::before {
    position: absolute;
    transition: all 0.5s;
    content: "";
    bottom: 0;
    height: 2px;
    width: 0px;
    left: 0;
    background-color: var(--primarycolor);

}

.pbtn .btn2::before {
    background-color: var(--lb2-color);
}

.pbtn .btn3::before {
    background-color: var(--lb3-color);
}

.pbtn a:hover::before {
    width: 100%;
}


/* -------partner css-------- */
.ptnm {
    text-align: center;
    margin-bottom: 10px;
    flex: 0 0 20%;
    max-width: 20%;
    padding: 0 5px;
}

.ptnm a {
    display: block;
    position: relative;
    overflow: hidden;
    transition: all 0.5s;
    background-color: var(--background-color);
    border-radius: 5px;
    padding: 20px;
}

.ptnm a img:first-child {
    position: relative;
    transition: all 0.5s;
}

.ptnm a img:last-child {
    display: inline-block !important;
    transition: all 0.5s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 200%);
}

.ptnm a:hover img:first-child {
    transform: translateY(-200%);
}

.ptnm a:hover img:last-child {
    transform: translate(-50%, -50%);

}

/* --------latest newa css------------ */
.cont1{
    background-color: var(--gray-color);
    padding: 100px 0px 70px;
}
.n1 .newsall {
    margin: 5px;
    box-shadow: 0px 0px 10px -2px var(--text);
    background-color: var(--white-color);
}

img {
    transition: all 0.5s;
}

.newsall .nimg {
    overflow: hidden;
}

.newsall:hover img {
    transform: scale(1.2) rotate(5deg);
}
.ndis{
    padding: 10px;
    padding-bottom: 20px;

}
.nadis{
    text-align: start;
    
    transition: all 0.5s;
    background-color: var(--white-color);
}
.nadis p{
    line-height: 1.8;
    margin-top: 20px;
    color: var(--h-text);
}

.newsall:hover .nadis {
    transform: translatey(-30px);
}

.n1 {
    position: relative;
}
.ntime ul li {
    display: inline-block;
    font-size: 15px;
    color: var(--h-text);
    position: relative;
}

.n1 .nbtn {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    padding-bottom: 10px;
    bottom: 2%;
    transition: all 0.5s;
}

.newsall:hover .nbtn {
    opacity: 1;
    visibility: visible;
    
}
.n1 .ntime a{
    color: var(--pink-color);
   
}
.nadis a:hover{
    color: var(--primarycolor);
}
.n1 .ntime{
    position: relative;
    visibility: visible;
    margin-bottom: 15px;
    opacity: 1;
    transition: all 0.5s;
}
.newsall:hover .ntime{
    opacity: 0;
    visibility: hidden;
}
.ndis .nbtn{
    color: var(--primarycolor);
    position: relative;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.ndis .nbtn::after{
    background-color: var(--primarycolor);
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    transition: all 0.5s;
    height: 1px;
    width: 0;
  
}
.ndis .nbtn:hover::after{
    width: 100%;
}
/* -------sub css---------- */
.simg {
    position: relative;
    background-image: url(../photo/search.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    z-index: 1;
    height: 400px;
    overflow: hidden;
}

.simg::after {
    position: absolute;
    content: "";
    background-color: var(--primarycolor);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.8;
}

.scon {
    position: absolute;
    text-align: center;
    top: 25%;
    z-index: 3;
    left: 350px;
}

.simg .hed h2 {
    margin-bottom: 0;
    color: var(--white-color);
}

.simg .hed p {
    color: var(--white-color);
}

.sform input {
    position: relative;
    width: 100%;
    padding: 25px;
    border-radius: 50px;
    border: none;
    
}

.scon .sbtn {
    position: absolute;
    right: 1%;
    border-radius: 50px;
    background-color: var(--primarycolor);
    color: var(--white-color);
    width: 30%;
    padding: 20px;
    bottom: 4px;
    right: 5px;
    z-index: 5;
    cursor: pointer;
        
}

/* ----------footer css------------ */
footer {
    background-color: var(--footer-color);  
}

.ftcon h3 {
    margin-bottom: 35px;
    color: var(--white-color);
    position: relative;
    padding-bottom: 8px;
    border-bottom: 1px solid #4e5e6a;
    font-size: 24px;
    font-weight: 700;
}

.ftcon .col4 {
    padding: 0 10px;
    height: 415px;
}

.ftcon ul li i {
    font-size: 35px;
    position: absolute;
    top: 0;
    left: 0;
    color: var(--pink-color);
}

.ftcon ul li {
    position: relative;
    top: 0;
    left: 0;
    padding-left: 55px;
    margin-bottom: 35px;
    font-size: 15px;
    color: var(--white-color);
}

.ftcon ul li {
    margin-bottom: 30px;
}
.ftlink ul li{
    margin-bottom: 10px;
}

.ftcon ul li span {
    display: block;
    padding-bottom:5px ;
}

.ftcon ul li a {
    color: var(--white-color);
    font-size: 22px;
    transition: all 0.5s;
    font-weight: 700;
}

.ftcon ul li a:hover {
    color: var(--pink-color);
}
.ftcon .ftsocial{
    padding: 0;
}

.col4 .ftsocial li {
    padding: 0 15px;
    display: inline-block;
}

.ftsocial li a {
    display: inline-block;
}

.ftsocial li a i {
    font-size: 16px;
    transition: all 0.5s ease-in-out;
    color: var(--white-color);
}

.ftsocial li a i:hover {
    color: var(--pink-color);
    transform: translateY(-2px)
}

.ftlink ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.ftlink ul li a {
    transition: all 0.5s;
    font-size: 17px;
    font-weight: 400;
}

.ftlink ul li a:hover {
    color: var(--pink-color);
}

.ftlink ul li {
    flex: 0 0 45%;
    max-width: 45%;
    padding: 0px 12px 15px;
}
.ftimg .col4 a{
    transition: all 0.3s;
}
.ftimg .col4 img{
   padding: 0 5px 10px;
}
.ftimg .col4{
    padding: 0;
    height: auto;
   
}
.ftimg .col4 a:hover{
    opacity: 0.5;
}
/* ----------for below line------------- */
.bline{
    height: 2px;
    width: 100%;
    background-color: var(--white-color);
   
}
.linelink{
display: flex;
padding-top: 20px;
color: var(--white-color);
}