*{
    margin: 0 auto;
    box-sizing: border-box;
    
}
.cont{
 width: 1320px;
 margin: 0 auto;
 padding: 100px 0px 70px;
}
/* -------- varible css ----------- */
:root{
    --primarycolor:#0d00ff;
    --h-text: #5b5b98;
    --background-color: #f4f7fc;
    --white-color: #fff;
    --text:#000000;
    --pink-color: #fa7070;
    --gray-color: #f9f5f5;
    --yellow-color: #facd60;
    --sky-color: #1ac0c6;
    --sb2-color: #00aeff;
    --sb3-color: #f78acb;
    --sb4-color: #44ce6f;
    --sb5-color: #c679e3;
    --sb6-color: #eb6b3d;
    --lb2-color: #fc6765;
    --lb3-color: #ffA143;
    --footer-color: #212529;

}


/* -------- common css ----------- */
a{
    text-decoration: none;
}
button{
    cursor: pointer;
}
h2{
    text-align: center;
    font-size: 40px;
    color: var(--text);
    font-weight: 700;
    margin:0 auto;
    padding-bottom: 50px;
    max-width: 550px;
    text-transform: capitalize;
}
h3{
    font-size: 22px;
    font-weight: 700;
}
.hed{
    text-align: center;
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 600;
    color: var(--primarycolor);
    text-transform: uppercase;
}
ul{
    list-style:none;
}
img {
    max-width: 100%;
    display: block;
}
.btn{
    color: var(--white-color);
    font-size: 15px;
    background-color: var(--primarycolor);
    margin: 25px;
    padding: 17px 35px 13px;
    border-radius: 5px;
    border-style: none;
}
.btn:hover{
    color:var(--white-color);
    background-color: var(--pink-color);
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
/* ------------col------------ */
.col1{
    width: 8.33%;
}
.col2{
    width: 16.66%;
}
.col3{
    width: 25%;
}
.col4{
    width: 33.33%;
}
.col5{
    width: 41.66%;
}
.col6{
    width: 50%;
}
.col7{
    width: 58.33%;
}
.col8{
    width: 66.66%;
}
.col9{
    width:75%;
}
.col10{
    width: 83.33%;
}
.col11{
    width: 91.66%;
}
.col12{
    width: 100%;
}

/* -----------header css----------- */
header{
background-color: var(--white-color);
width: 100%;
position: fixed;
z-index: 3534534;
}
nav{
    align-items: center;
    
}
.head{
    
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        
    
}
header .head{
    justify-content: space-between;
    padding: 10px;
        
}
header .head nav ul {
    display: flex;
}
nav ul li {
    padding: 0px 20px;
}
header .head nav ul li i {
    font-size: 10px;
    top: 1px;
    margin-left: 4px;
}

header .head nav ul li a {
    color: var(--h-text);
    font-size: 16px;
    transition: all 0.5s;
}
header .head nav ul li a:hover,
.magnify:hover {
    color: var(--primary-color);
}
.magnify {
    font-size: 16px;
    color: var(--h-text);
    margin-left: 10px;
}

.submenu {
    position: absolute;
    background-color: var(--white-color);
    top: 250%;
    flex-direction: column;
    padding: 10px 20px 20px 0px;
    width: max-content;
    border-top: 2px solid blue;
    box-shadow: 0px 0 15px 0 rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}
.submenu li {
    padding: 10px;
}
.menu:hover .submenu {
    opacity: 1;
    top: 100%;
    visibility: visible;
   
}



/* banner css */


.banner-txt{
    text-align: center;
    /* margin-top: 140px; */
    padding-top: 140px;
}
h1{
    color: var(--text);
    font-size: 60px;
}
/* ------services css------ */
.service{
    background-color: var(--gray-color);
    text-align: center;
    margin-right: 10px;
    transition: all 0.5s;
    border-radius: 5px;
    
    
}
.service:hover {
    transform: translateY(-10px);
    background-color: var(--white-color);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
}
.service:hover .serbtn{
    background-color: var(--primarycolor);
    color: var(--white-color);
}
.fa-chart-bar,.fa-display,.fa-envelope-open-text{
    font-size: 45px;
    color: var(--pink-color);
    margin-top: 10px;
    margin-bottom: 10px;
}

.ser{
    font-size: 16px;
    font-weight: 400;
    color: var(--h-text);
    line-height: 28.8px;
    margin: 15px 0px 20px;
    padding: 40px;
    text-transform: lowercase;
    text-align: center;

}
.serbtn{
    color: var(--primarycolor);
    font-size: 15px;
    text-transform: uppercase;
    background-color: var(--white-color);
    margin: 25px;
    padding: 17px 35px 13px;
    border-radius: 5px;
    border: 2px solid var(--primarycolor);
    
}
.serbtn:hover{
    color: var(--white-color);
    background-color: var(--primarycolor);
}
/* about us css */
.about-txt{
    margin-left: 0px;
}
.about-txt .hed {
    text-align: start;
    margin-left: 20px;
}
.about-txt .h2{
    text-align: start;
    max-width: none;
}
.abo {
    font-size: 16px;
    font-weight: 400;
    color: var(--h-text);
    line-height: 1.8;
    text-transform: lowercase;
}
.abouttxt ul li {
    position: relative;
    z-index: 1;
    padding: 13px 5px 13px 10px;
    margin: 0 10px 10px 0;
    border-radius: 4px;
    overflow: hidden;
    transition:all 0.5s;
}
.fa-square-check{
  color: var(--primarycolor);
}
.abouttxt ul li:hover{
    color: var(--white-color);
    
}
.abouttxt ul li::after{
    background-color: var(--primarycolor);
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    transition: all 0.5s;
    height: 100%;
    width: 0;
    z-index:-1;
}
.abouttxt ul li:hover::after{
    width: 100%;
}

.abouttxt ul li:hover .fa-square-check{
    color: var(--pink-color);
}

/* ------tool css----------- */
.tool{
    background-color: var(--background-color);
}
.tlist{
    background-color: var(--gray-color);
    padding: 40px 30px;
    transition: all 0.5s;
    z-index: 1;
    height: max-content;
    position: relative;
    margin: 0 15px 30px;
}
.tlist .ser{
    padding: 0px;
    text-align: start;
}

.tlist .fa-computer{
    background-color:rgba(250, 112, 112, 10%);
    color: var(--pink-color);
}
.fa-laptop-code{
    color:var(--sb2-color) ;
    background-color:rgba(68, 206, 111, 10%) ;
}
.fa-chart-line{
    color:var(--sb3-color) ;
    background-color:rgba(247, 138, 203, 10%) ;
}
.fa-chalkboard-user{
    color:var(--sb4-color) ;
    background-color:rgba(68, 206, 111, 10%) ;
}
.fa-envelopes-bulk{
    color:var(--sb5-color) ;
    background-color:rgba(198, 121, 227, 10%) ;
}
.fa-digital-ocean{
    color: var(--sb6-color) ;
    background-color: rgba(235, 107, 61, 10%);
    
}
.tlogo{
    margin: 0 0 25px;
    padding: 22px 0 0 0;
    font-size: 35px;
    width: 70px;
    height: 70px;
    display: inline-block;
    border-radius: 50%;
    transition: all 0.5s;
    text-align: center;
}
.tlist:hover i {
    color: blue;
    background-color: var(--white-color);
    transform: rotate(360deg)
}
.tlist a{
    text-transform: capitalize;
    transition: all 0.5s;
    font-size: 16px;
}
.tlist:hover p,
.tlist:hover h3,
.tlist:hover a
 {
    color: var(--white-color);
}
.tlist::after{
    background-color: blue;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    transition: all 0.5s;
    height: 100%;
    width: 0;
    z-index:-1;
}
.tlist:hover::after{
    width: 100%;
}
.tbtn {
    transform: translateY(20px);
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

.tlist:hover .tbtn {
    transform: translateY(0px);
    visibility: visible;
    opacity: 1;
}

.tbtn::after {
    position: relative;
    content: "";
    bottom: 0;
    transition: all 0.5s;
    left: 0;
    background: #f9f5f5;
    height: 2px;
    width: 0;
}

.tbtn:hover::after {
    width: 100%;
}

/* ------choose us css------- */

.cho{
    font-size: 16px;
    font-weight: 400;
    color: var(--h-text);
    line-height: 28.8px;
    margin: 0px 10px 30px;
    padding:0px 40px 0px 0px;
    text-transform: lowercase;
    text-align: start;

}
.chous{
    text-align: start;
    margin: 0px;
    padding: 0px;
}

/* -------number css--------- */
.number{
    background-color: var(--primarycolor);
    
}
.num{
    border: 1px dashed rgba(255, 255, 255, 40%);
    width: 250px;
    height: 150px;
    text-align: center;
    padding-top: 25px;
    color: var(--white-color);
    transition: all 0.5s;
    position: relative;
    z-index: 1; 
}
.num2{
    color: var(--white-color);
    padding-bottom: 10px;
    text-align: center;
}
.num:hover{
    
        border-color: var(--white-color);
        transform: translateY(-10px);
    
}
.number .num::before{
    position: absolute;
    content: "p";
    font-size: 150px;
    opacity: 0.5;
    top: -50px;
    right: 100px;
    font-style: italic;
    color: rgba(31, 37, 158, 0.5);
}
.number .numc::before{
    content: "C";
    top: -20px;
}
.number .numa::before{
    content: "A";
    top: -20px;
}
.number .nume::before{
     content: "E";
     top: -20px;
}

/* ----------gallery css------------ */
.slide{
    margin: 0px 20px;
    position: relative;
    overflow: hidden;
}
.slide i{
    position: absolute;
    top: 25px;
    right: 25px;
    background-color: var(--primarycolor);
    border-radius: 50%;
    font-size: 40px;
    padding: 20px;
    color: var(--white-color);
    transform: scale(0);
    transition: all 0.5s;
}
.slide:hover i{
    transform: scale(1);
}
.slide i:hover{
    background-color: var(--pink-color);
    transform: rotate(180deg);
}
.slide .gtxt{
    position: absolute;
    left: 0px;
    bottom: 45px;
    padding: 25px 20px 20px;
    background-color: var(--white-color);
    width: 70%;
    transform: translateX(-300px);
    transition: all 0.5s;
}
.slide:hover .gtxt{
    transform: translatex(0px);

}
.gtxt h3:hover{
    color: var(--primarycolor);
}
.gtxt p{
    color: var(--h-text);
}
/* --------features css--------- */
.box{
    background-color: var(--white-color);
    box-shadow:rgba(0, 0, 255, 0.5) 0px 0px 10px 0px;
    padding: 15px 15px 15px 18px;
    margin: 5px;
    text-align: center;
    height: 150px;
    width: 200px;
    cursor: pointer; 
    transition: all 0.5s;
} 
.box:hover{
    background-color: var(--primarycolor);
    color: var(--white-color);
}
.box i{
    font-size: 50px;
    padding: 15px;
}
.fa-people-pulling{
color: var(--sb6-color);
}
.fa-diagram-project{
    color: var(--primarycolor);
}
.fa-computer{
    color: var(--sb5-color);
}
.fa-file-contract{
    color: var(--sb6-color);
}
.fa-cubes{
    color: var(--primarycolor);
}
.fa-laptop-medical{
    color: var(--sb5-color);
}
/* snd part features css */
.fet-txt .hed h2{
    margin: 0px;
    padding: 0px;
}
.fet-txt .hed p{
    margin-left: 62px;
    text-align: start;
}
.fet-txt ul li {
    position: relative;
    z-index: 1;
    padding: 13px 5px 13px 10px;
    margin: 0 10px 10px 0;
    border-radius: 4px;
    overflow: hidden;
    transition:all 0.5s;
}
.fa-square-check{
  color: var(--primarycolor);
}
.fet-txt ul li:hover{
    color: var(--white-color);
    
}
.fet-txt ul li::after{
    background-color: var(--primarycolor);
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    transition: all 0.5s;
    height: 100%;
    width: 0;
    z-index:-1;
}
.fet-txt ul li:hover::after{
    width: 100%;
}

.fet-txt ul li:hover .fa-square-check{
    color: var(--white-color);
    background-color: var(--pink-color);
}
